name: Broken Pipeline Demo - Phase 2

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run broken command
        run: |
          echo "Starting build..."
          python non_existing_script.py 2> logs/error.log

      - name: Upload failure logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ci-failure-logs
          path: logs/error.log
